* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: #ff4500;
    color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.bi-list {
    width: 24px;
    height: 24px;
    color: white;
}

.menu {
    display: none;
}

.h1 {
    font-size: 64px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 24px;
    cursor: pointer;
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 150px;
    align-items: center;
}

.item {
    padding: 0px 0px 20px 0px;

    h1 {
        font-size: 80px;
    }

    p {
        font-size: 24px;
        line-height: 1.6;
        text-align: left;
    }

    button {
        background-color: #ff4500;
        color: white;
        padding: 20px 60px;
        border-radius: 20px;
        border: none;
        font-size: 24px;
        margin-top: 20px;
        cursor: pointer;
    }
}

.card {
    h1 {
        font-size: 64px;
        text-align: center;
    }

}
.card-item {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 150px;
}

.card-content {
    h2 {
        font-size: 48px;
    }

    p {
        font-size: 24px;
    }
}

@media screen and (max-width:600px) {
    
}
